@charset
/* Global */


body {
  display: flex;
  background-color: rgb(255, 255, 255);
}

header {
  display: flex;
  height: 70px;
  max-width: 100%;
  background-color: rgb(141, 181, 179);
  margin: 20px;
  padding: 20px;
}

/* Text */
h1 {
  font-size: 4em;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 2em;
  text-align: left;
  margin-bottom: 10px;
}

h3 {
  font-size: 1em;
  text-align: left;
  margin-bottom: 10px;
}

p {
  font-size: 1em;
  text-align: left;
  margin-bottom: 5px;
}

/* top navigation */
nav {
  display: flex;
  padding-top: 30px;
}

.topNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.topNav li {
  display: inline;
}

.topNav li a {
  color: #2d2d2d;
  padding: 10px 10px;
  padding-left: 50px;
  text-decoration: none;
}
.active {
  background-color: #66edf9;
  color: white;
}

/* main  */
main {
  display: flex;
  margin: 50px;
  align-items: center;
  margin: 20px;
  padding: 20px;
}


main section {
  display: flex;
  padding: 20px;
}

.flex-container {
  display: flex;
  align-items: center;
}

/* table design */

table.b {
  table-layout: auto;
  width: 180px;
}

th {
  background-color: rgb(200, 218, 250);
}

tr:hover {
  background-color: aqua;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

table,
th,
td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

/* footer design */
footer {
  max-width: 100%;
  margin: 20px;
  /* padding: 20px; */
}
.flex-container2 {
  display: flex;
  background:  rgb(0, 0, 0);
  height: 100px;
}

.bottomNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.bottomNav li {
  display: inline;
}

.bottomNav li a {
  color: #ffffff;
  padding: 10px 10px;
  padding-left: 50px;
  text-decoration: none;
}