@charset
/* Global settings */

body {
  margin: 50px;
  border: #003049;
  border-style: dashed;
  border-width: 5px;
  font-family: 'Roboto', sans-serif;
  padding: 50px;
  background-color: rgb(218, 106, 106);
}

header {
  display: flex;
  /* padding-bottom: 20px; */
  /* margin-top: 10px; */
  height: 70px;
  max-width: 100%;
  background-color: rgb(132, 121, 232);
  /* align-items: center; */
  margin: 20px;
  padding: 20px;
}

/* Text */
h1 {
  font-size: 4em;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 2em;
  text-align: left;
  margin-bottom: 10px;
}

h3 {
  font-size: 1em;
  text-align: left;
  margin-bottom: 10px;
}

p {
  font-size: 1em;
  text-align: left;
  margin-bottom: 5px;
}

nav {
  display: flex;
  padding-top: 30px;
}

.topNav ul {
  list-style-type: none;
  padding: 50px;
  overflow: hidden;
  background-color: #ffffff;
}

.topNav li {
  float: right;
}

.topNav li a {
  color: #2d2d2d;
  padding: 10px 10px;
  padding-left: 50px;
  text-decoration: none;
}


main {
  display: contents;
  margin: 50px;
  align-items: center;
  margin: 20px;
  padding: 20px;
}


main section {
  display: flex;
  /* align-items: center; */
  /* margin: 20px; */
  padding: 20px;
}

.primaryImg {
  max-width: 100%;
  border: #2d2d2d 2px solid;
  align-items: center;
  padding: 60px;
}


main article {
  max-width: 100%;
  padding: 60px;
}

body {
  background-color: #b4bec8;
}

header {
  background-color: #797d80;
  height: 100px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  background-color: inherit;
  font-size: 3em;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 50px;
}

main>h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.75em;
  width: max-content;
  padding: 30px;
  margin: auto;
  margin-bottom: 10px;
}

.storeSection {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

article {
  border: 5px double #020005;
  background-color: #75abe9;
  padding: 30px;
  margin-top: 30px;
}

article h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.75em;
  padding-bottom: 10px;
  text-decoration: underline;
}

p {
  font-size: 1.25em;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 15px;
}

ul {
  font-size: 1.75em;
  font-family: 'Archivo', sans-serif;
  list-style-type: "🐾   ";
  list-style-position: inside;
  margin-bottom: 15px;
}

li {
  font-family: 'Archivo', sans-serif;
  font-size: .75em;
  margin-top: 15px;

}

img {
  margin-bottom: 30px;
}

table * {
  font-family: 'Archivo', sans-serif;
  background-color: #797d80;
  border: 1px double #020005;
  padding: 8px;
}

th {
  font-weight:900;
}

td {
  text-align: center;
}


footer {
  font-family: 'Archivo', sans-serif;
  font-size: 1.5em;
  padding-top: 15px;
  text-align: right;
  padding-right: 10px;
  height: 100px;
  background-color: #797d80;
  margin-top: 30px;
}

#container {
  background-color: #606060;
  width: 90%;
  height: 700px;
  margin: 0 auto;
  border: 5px solid #003049;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#container div {
  width: 200px;
  height: 200px
}

div:nth-of-type(3) {
  align-self: flex-end;
  padding: 20px;
}

/* scrollable container */
p {
  width: 450px;
  height: 300px;
  overflow: auto;
}


/* HOVER AND TRANSITION */
button:hover {
  background-color: blue;
}

button {
  transition: 350ms;
}


footer {
  height: 150px;
  background-color: #444;
}